
body {
  background: #fefefe;;
  text-align: center;
  width: 100vw;
}

/* .card {
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  display: flex;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 90%;

}
.card-3 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
} */

.fade-enter{
  opacity: 0.01;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 800ms ease-in
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0.01;
  transition: opacity 800ms ease-out

}
.disnetjy{
  font-family: 'Lekton', sans-serif;
  /* font-weight: 900 !important; */
  color: black !important;
  font-size: 25px;
  line-height: 15px;
  

}
.subb{
  font-family: 'Lekton', sans-serif;
  font-weight: 900 !important;
  color: white !important;
  background: black;
  padding-top: 2px;
  
}
.bottim{
  border-top: 1px solid black;
  padding-top: 15px
}
mark{
  color: white !important;
  background: black;
}
h3{
  font-family: 'Vollkorn', serif;
  text-align: left;
  margin-left: 15px;
  padding-top: 5px;
}
p{
  font-family: 'Vollkorn', serif;
  text-align: left;
  margin-left: 15px;
  padding-top: 5px;
  white-space: pre-line;
}
.card-title{
  font-family: 'Vollkorn', serif;
  font-weight: 700;
  text-align: left
}

.card {
  margin-bottom: 2rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: rgb(163, 48, 48);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: rgb(179, 36, 36);
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
button{
  background: #fefefe;
  font-family: 'Vollkorn', serif;
}
.navbar{
  /* background: #999999; */
  /* color: white; */
  border-bottom: 1px solid rgb(161, 161, 161)
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.hide{
  display: none
}
.show{
  display: inline;
}